@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.profile-container{
    overflow-y: auto;        
    max-height: calc(100vh - 5.5rem);
    display: flex;
    justify-content: flex-start;
    padding-top: 0.625rem;
    flex-direction: column;
    align-items: center;
    // padding-top: 300px;

    h2{
        font-size: 2.1875rem;
        margin: 0.3125rem;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .top-section{
        margin: 0.625rem;
        gap: 0.9375rem;
        // background-color: red;
        width: 90%;

        .name-email{
            display: flex;
            justify-content: space-around;
        }

        .name, .profile-pic, .email{
            display: flex;
            // justify-content: center;
            font-size: 1.25rem;
            gap: 0.625rem;
            font-weight: 400;
            align-items: center;
            margin: 0.3125rem;
            font-family: "Roboto", sans-serif;    
            text-align: left;

            &:disabled{
                cursor: not-allowed;
            }
        }


        .pic-button{
            display: flex;
            justify-content: space-around;
            align-items: center;

            .buttons{
                display: flex;
                // flex-direction:;
                align-items: center;
                justify-content:flex-end;
                width: 100%;
                gap: 0.625rem;
                margin: 1.5625rem;
                padding: 0rem 3.125rem;

                button{
                    color: white;
                    padding: 0.5rem 0.875rem;
                    background-color: black;
                    border-radius: 0.3125rem;
                    font-size: 0.75rem;
                    cursor: pointer;
                    border: none;
                }

                .logout-btn{
                    background-color: red;

                    &:disabled{
                        cursor: not-allowed;
                    }
                }
            }
        }
        .profile-pic{
            align-items: center;
            img{
                width: 3.125rem;
                height: 3.125rem;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }


    .bottom-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .posts-heading{
            font-size: 1.5625rem;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding: 0rem 18.75rem 0.625rem 18.75rem;
            border-bottom: 0.0625rem solid lightgray; 
            margin-bottom: 0.9375rem;
        }
    }
}