@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.card-container{
    display: flex;
    flex-direction: column;
    // font-family: "Roboto", sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // background-color: white;
    border: 0.0625rem solid lightgray;
    margin: 0.625rem;
    min-height: 14.0625rem;
    width: 31.25rem;
    border-radius: 0.625rem;
    // box-shadow: 0 0 10px 0px gray;
    padding: 0.625rem;

    .title{
        color: black;
        font-size: 1.5625rem;
        text-align: left;
        font-weight: 600;
    }

    .nickname{
        font-size: 0.75rem;
        color: gray;
        margin: 0.125rem;
        // height: 10x;
    }

    .mid-body{
        display: flex;
        width: 100%;
        justify-content: space-between;
        min-height: 6.25rem;
        
        .pic{
            
            width: 10.3125rem;
            border-radius: 0.3125rem;
            object-fit: cover;
        } 

        .text{
            // flex: 2;
            // font-weight: 400;
            // text-align: justify;
            // margin-right: 5px;
            // background-color: blue;
            width: 26.5625rem;
            display: flex;
            margin-right: 0.5rem;
            flex-direction: column;

            p{
                text-align: justify;
                font-size: 0.875rem;
            }
            

            .link{
                // color: #FFB200;
                text-align: end;
                // margin: 0px 5px 0px 300px;
                color: #2c3e50;
                // margin:0px 15px 0px 480px;
                font-size: 0.75rem;
            }
        }

        .text, .exists{
            width: 100%;
        }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.625rem;

        .like-section{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.3125rem;

            img{
                height: 1.25rem;
                width: 1.25rem;
                cursor: pointer;
            }
        }
        .update-section{
            .buttons{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.625rem;
        
                button{
                    padding: 0.4375rem;
                    color: white;
                    background-color: black;
                    border-radius: 0.3125rem;
                    cursor: pointer;
                    border: none;
                    font-size: 0.75rem;
                }
        
                .delete-btn{
                    background-color: red;
                }
            }
        }
    }

    span{
        color: red;
    }
}