$primary-color: #3498db; // A calming blue for primary elements
$secondary-color: #ecf0f1; // A light grayish-white for background
$dark-text-color: #2c3e50; // Dark gray for text
$light-border-color: #bdc3c7; // Light gray for borders
$font-family: 'Arial, sans-serif';

.bloglist-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    // height: 100%;
    width: 100%;
    gap: 0.625rem;
    // background-color: red;
    // gap: 30px;
    padding-bottom: 2.1875rem;

    .bloglist-heading {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 2.1875rem;
      padding: 0px 25rem 0.625rem 25rem;
      border-bottom: 0.0625rem solid lightgray; 
      margin-bottom: 0.9375rem;
    }

    .category-dropdown{
      // background-color: red;
      width: 100%;
      margin-left: 34.375rem;

      select{
        border-radius: 0.3125rem;
        border: 0.0625rem solid lightgray;
        font-size: 0.9375rem;
        padding: 0.25rem;
        background-color: white;

        option:checked {
          background-color: #41B3A2; /* Custom background color for the selected option */
          color: black; /* Text color for the selected option */
        }
      
        option{
          border-radius: 0.3125rem;
        }
      }
    }
  
    p {
      margin: 0.625rem 0;
    }
  
    a {
      font-weight: bold;
      color: $primary-color;
    }
  
    .blog-post {
      margin-bottom: 1.25rem;
      padding: 1.25rem;
      border-bottom: 0.0625rem solid #ccc;
  
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
  