$primary-color: #3498db; // A calming blue for primary elements
$secondary-color: #ecf0f1; // A light grayish-white for background
$dark-text-color: #2c3e50; // Dark gray for text
$light-border-color: #bdc3c7; // Light gray for borders
$font-family: 'Arial, sans-serif';

.bloglist-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    // height: 100%;
    width: 100%;
    gap: 10px;
    // background-color: red;
    // gap: 30px;
    padding-bottom: 35px;

    .bloglist-heading {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 35px;
      padding: 0px 400px 10px 400px;
      border-bottom: 1px solid lightgray; 
      margin-bottom: 15px;
    }

    .category-dropdown{
      // background-color: red;
      width: 100%;
      margin-left: 550px;

      select{
        border-radius: 5px;
        border: 1px solid lightgray;
        font-size: 15px;
        padding:4px;
        background-color: white;

        option:checked {
          background-color: #41B3A2; /* Custom background color for the selected option */
          color: black; /* Text color for the selected option */
        }
      
        option{
          border-radius: 5px;
        }
      }
    }
  
    p {
      margin: 10px 0;
    }
  
    a {
      font-weight: bold;
      color: $primary-color;
    }
  
    .blog-post {
      margin-bottom: 20px;
      padding: 20px;
      border-bottom: 1px solid #ccc;
  
      &:hover {
        background-color: $secondary-color;
      }
    }
  }
  