$primary-color: #41B3A2; 

.footer {
    background-color: $primary-color;
    color: white;
    // text-align: center;
    // padding: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    height: 1.5625rem;

    p{
      font-size: 0.9375rem;
    }
  }
  